{% extends 'base.html.twig' %}

{% block title %}
	{{snippet.user.username}}
	-
	{{ snippet.id }}
{% endblock %}

{% block body %}
	<article class="article" style="    margin-top: 7rem;">
		<h1 class="article-title">
			{{ snippet.title}}
		</h1>
		<p class="article-meta">
			Crée le{{ snippet.createdAt|date('d/m/Y')}}
			<br>
			{% if snippet.editedAt %}
				- Modifié le:
				{{snippet.editedAt}}
			{% endif %}
		</p>
		<pre class="text-lead">
        <code>
			{{ snippet.content|raw }}
            </code>
		</pre>
		<p>Rédigé par
			<kbd>{{ snippet.user.username }}</kbd></p>
		<p>Status:
			{% if snippet.isPublic == true %}
				<span class="green-pill">Public</span>
			{% else %}
				<span class="yellow-pill">Privé</span>
			{% endif %}
		</p>
		
{% endblock %}
