<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			• CodeXpress</title>
<link rel="icon" href={{ asset('img/favicon.png') }}>

</html></text></svg>">
<link rel="stylesheet" href={{asset ('style.css')}}>
<link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css"> 
{% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
{% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
</head>

<body>

<div class="row">

<img src={{ asset ('img/logo-codexpress.svg')}} width="200" alt="CodeXpress"/>
</div>

<div class="container"> 
{% block body %}{% endblock %}
</div>

<script src={{ asset('main.js') }}></script>

</body>

</html>
